<div class="flex items-center justify-center h-screen">
    <h1 class="text-6xl font-bold text-center">Coming soon</h1>
</div>

<style>
	h1{
		font-size: 12vw;
		}
	.h-screen {
		height: 100vh;
        max-height: 100%;
		width: 100%;
	}
    footer {
        position: fixed;
        bottom: 0;
    }
</style>