<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>Ottler Studio</title>
		<link rel="stylesheet" href="/src/styles/main.css" />
	</head>
	<body>
		<slot />
		<footer>
			<div class="text-right">Ottler Studio 2026</div>
			<div class="wave"></div>
		</footer>
	</body>
</html>
